# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

.idea/
cmake-build-debug/
*.bin
*.out
cmake-build-debug/main
CMakeFiles/
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/a.out
cmake-build-debug/main
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
